<div class="main">
  <div class="header row">
    <div id="logo">Notify me!</div>
    <!--    buttons here-->
  </div>
  <div class="updateCol column">
    <div class="column" style="gap: 0">
      <b class="error-box" style="font-size: 1.4em">Newest updates</b>
      <span class="error-box">Refreshed every 5 seconds</span>
    </div>
    <div id="counter">
      <div id="counter-bar"></div>
    </div>
    @if (displayedUpdates !== null) {
      @if (displayedUpdates.errorMessage !== null) {
        <div style="flex: 0 0 80%" class="error-box centerVH">
          <span>{{ displayedUpdates.errorMessage  }}</span>
        </div>
      } @else {
        <div id="updateContainer">
          @for (update of displayedUpdates.updates; track $index) {
            <app-update-box [update]="update"></app-update-box>
          }
        </div>
      }
    } @else {
      <div style="flex: 0 0 80%" class="error-box centerVH">
        <span>No new updates found.</span>
      </div>
    }
  </div>
  <div class="contentDiv">
    <router-outlet></router-outlet>
  </div>
</div>
