<div id="siteViewOuterBox" class="centerVH">
  @if (currentSite !== undefined) {
    <div class="main">
      <div class="siteInfoDiv">
        <div class="siteNameDiv column">
          <b style="font-size: 1.3em">Site: {{ currentSite.siteInfo.siteName }}</b>
          <span>Under: {{ currentSite.siteInfo.siteUrl }}</span>
        </div>
        <div class="siteExtrasDiv column">
          <span>Unique site ID: {{ currentSite.siteInfo.siteId }}</span>
          <span>Tracked since: {{ currentSite.trackedSince }}</span>
        </div>
        <div class="optionsDiv row">
          <button class="s_button" type="button" (click)="toggleEditMode()">
            <div class="s_button__int">
              <span>Edit site </span>
            </div>
          </button>
          <button class="s_button" type="button" (click)="attemptSiteRemoval()">
            <div class="s_button__int">
              <span>Remove site</span>
            </div>
          </button>
        </div>
        <div class="descDiv centerVH">
          {{ currentSite.description }}
        </div>
        <div class="updateInfoDiv centerVH">
          <span>Last update: {{ currentSite.siteInfo.lastUpdateAt }}
            . Registered updates: {{ currentSite.updates.length }}</span>
        </div>
      </div>
      <div class="siteUpdatesDiv column">
        <b class="error-box" style="font-size: 1.4em">Registered updates</b>
        <div id="siteUpdatesContainer">
          @for (update of currentSite.updates; track $index) {
            <app-bare-update-box [update]="update"></app-bare-update-box>
          }
        </div>
        <button class="s_button" type="button" (click)="refetchCurrentSiteDetails()">
          <div class="s_button__int">
            <span>Refresh updates</span>
          </div>
        </button>
      </div>
    </div>
  } @else {
    <span class="error-box centerVH" style="font-size: 1.4em">
    @if (siteFetchErrorMessage !== undefined) {
      {{ siteFetchErrorMessage }}
    } @else {
      Couldn't load the site details. Please try again later.
    }
  </span>
  }
  @if (isInEditMode && siteEditForm !== undefined && currentSite !== undefined) {
    <div class="editWrapper border">
      <div class="column" style="gap:0; height: 100%; width: 100%; background-color: #03071E">
        <b class="infoBox" style="font-size: 2em; margin: 0">Edit site {{ currentSite.siteInfo.siteId }}</b>
        <form class="siteEditDiv" [formGroup]="siteEditForm" (ngSubmit)="attemptSiteEdit()">
          <div class="editTitleDiv column">
            <div class="row">
              <span class="infoBox" style="margin-right: 2.5em">Edit site name:</span>
              <div class="box-input">
                <div class="border">
                  <input formControlName="siteName" type="text" name="text" class="input">
                </div>
              </div>
              @if (siteEditForm.get('siteName')?.invalid && siteEditForm.get('siteName')?.touched) {
                <span style="margin-left: 1em" class="error-box">Site name is required. Max length: 30 characters.</span>
              }
            </div>
          </div>
          <div class="editControlDiv column">
            <div class="row">
              <span class="infoBox">Edit description:</span>
                  <textarea class="sTextArea" formControlName="siteDesc" type="text"></textarea>
            </div>
          </div>
          <div class="editButtonsDiv column">
            @if (siteEditForm.get('siteDesc')?.invalid && siteEditForm.get('siteDesc')?.touched) {
              <span class="error-box">Max description length: 300 characters.</span>
            }
            <span class="error-box">
              @if (siteEditErrorMessage !== undefined) {
                {{ siteFetchErrorMessage }}
              }
            </span>
            <div class="row">
              <button class="s_button" type="submit" [disabled]="siteEditForm.invalid || siteEditFormPristine">
                <div class="s_button__int">
                  <span>Save changes</span>
                </div>
              </button>
              <button class="s_button" type="button" (click)="toggleEditMode()">
                <div class="s_button__int">
                  <span>Cancel</span>
                </div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  }
</div>
