.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "siteInfoDiv siteInfoDiv siteInfoDiv siteUpdatesDiv"
    "siteInfoDiv siteInfoDiv siteInfoDiv siteUpdatesDiv"
    "siteInfoDiv siteInfoDiv siteInfoDiv siteUpdatesDiv"
    "siteInfoDiv siteInfoDiv siteInfoDiv siteUpdatesDiv"
    "siteInfoDiv siteInfoDiv siteInfoDiv siteUpdatesDiv";
}

.siteInfoDiv {
  margin: 1em;
  grid-area: siteInfoDiv;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "siteNameDiv siteNameDiv siteNameDiv siteExtrasDiv siteExtrasDiv"
    "descDiv descDiv descDiv descDiv descDiv"
    "descDiv descDiv descDiv descDiv descDiv"
    "updateInfoDiv updateInfoDiv updateInfoDiv updateInfoDiv updateInfoDiv"
    "optionsDiv optionsDiv optionsDiv optionsDiv optionsDiv";
  color: white;
}

.siteNameDiv {
  margin-left: 1em;
  grid-area: siteNameDiv;
  align-items: flex-start;
}

.siteExtrasDiv {
  grid-area: siteExtrasDiv;
}

.optionsDiv {
  grid-area: optionsDiv;
}

.descDiv {
  padding: 0.5em;
  grid-area: descDiv;
  text-align: justify;
  text-wrap: nowrap;
  white-space: normal;
  line-break: strict;
}

.updateInfoDiv {
  grid-area: updateInfoDiv;
}


.siteUpdatesDiv {
  grid-area: siteUpdatesDiv;
  width: 100%;
}

#siteUpdatesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  flex: 0 0 70%;
  overflow-y: scroll;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 90%;
}

#siteViewOuterBox {
  width: 100%;
  height: 100%;
}

.editWrapper{
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 65vh;
}

.siteEditDiv {
  height: 90%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    "editTitleDiv editTitleDiv editTitleDiv editTitleDiv editTitleDiv"
    "editControlDiv editControlDiv editControlDiv editControlDiv editControlDiv"
    "editControlDiv editControlDiv editControlDiv editControlDiv editControlDiv"
    "editControlDiv editControlDiv editControlDiv editControlDiv editControlDiv"
    ". editButtonsDiv editButtonsDiv editButtonsDiv .";
}

.editTitleDiv {
  align-items: flex-start;
  position: relative;
  left: 5%;
  grid-area: editTitleDiv;
}

.editControlDiv {
  position: relative;
  left: 5%;
  align-items: flex-start;
  grid-area: editControlDiv;
}

.editButtonsDiv {
  grid-area: editButtonsDiv;
}

.infoBox{
  color: white;
  margin-right: 2em;
}
