#result-wrapper{
  position: fixed;
  top: 60%;
  left: 50% ;
  width: 60vw;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 1001;
}

.results-container {
  position: relative;
  width: 100%;
  max-height: 40vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15em);
  grid-auto-rows: auto;
  justify-content: center;
  gap: 0.5em 0.3em;
  overflow-y: auto;
  padding: 1em;
  color: rgba(255, 255, 255, 0.84);
}

.result-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2em;
  border: 1px solid #FAA307;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.1);

}

.result-item:hover {
  background-color: rgba(255, 255, 255, 0.29);
}


/* Based on Uiverse.io by Lakshay-art, colours and animations, effects modified*/
.white,
.search-border,
.darkBorderBg
{
  max-height: 70px;
  max-width: 314px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  /* Border Radius */
  border-radius: 12px;
  filter: blur(3px);
}

.search-input {
  background-color: #010201;
  border: none;
  /* padding:7px; */
  width: 180px;
  height: 56px;
  border-radius: 10px;
  color: white;
  padding-inline: 59px;
  font-size: 18px;
}

#poda {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input::placeholder {
  color: #c0b9c0;
}

.search-input:focus {
  outline: none;
}

.white {
  max-height: 63px;
  max-width: 307px;
  border-radius: 10px;
  filter: blur(2px);
}

.white::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(83deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.4);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0) 0%,
    #E85D04,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0) 50%,
    #6A040F,
    rgba(0, 0, 0, 0) 58%
  );
  animation: rotate 8s linear infinite;
  transition: all 2s;
}

.search-border {
  max-height: 59px;
  max-width: 300px;
  border-radius: 11px;
  filter: blur(1px);
}

.search-border::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(70deg);
  position: absolute;
  width: 600px;
  height: 600px;
  filter: brightness(1.3);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #1c191c,
    #F48C06 5%,
    #1c191c 14%,
    #1c191c 50%,
    #E85D04 60%,
    #1c191c 64%
  );
  animation: rotate 8s 0.1s linear infinite;
  transition: all 2s;
}

.darkBorderBg {
  max-height: 65px;
  max-width: 312px;
}

.darkBorderBg::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(82deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #471202,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 50%,
    #7a4704,
    rgba(0, 0, 0, 0) 60%
  );
  transition: all 2s;
}

#poda > .darkBorderBg::before,
#poda > .white::before,
#poda > .search-border::before {
  animation: none;
  transition: all 2s ease;
}

#poda:hover > .darkBorderBg::before,
#poda:hover > .white::before,
#poda:hover > .search-border::before,
#poda:focus-within > .darkBorderBg::before,
#poda:focus-within > .white::before,
#poda:focus-within > .search-border::before {
  animation: rotate 8s linear infinite;
}

#focus-blur{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  z-index: 1000;
  background-color: #00081e;
  width: 100%;
  height: 100%;
}

#poda:focus-within {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 1001;

}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(540deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(720deg);
  }
}

@keyframes leftright {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  49% {
    transform: translate(250px, 0px);
    opacity: 0;
  }
  80% {
    transform: translate(-40px, 0px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

#filter-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-height: 40px;
  max-width: 38px;
  height: 100%;
  width: 100%;

  isolation: isolate;
  overflow: hidden;
  /* Border Radius */
  border-radius: 10px;
  background: linear-gradient(180deg, #370617, #03071E, #6A040F);
  border: 1px solid transparent;
}

.filterBorder {
  height: 42px;
  width: 40px;
  position: absolute;
  overflow: hidden;
  top: 7px;
  right: 7px;
  border-radius: 10px;
}

#searchBarMain {
  overflow: visible;
  position: relative;
}

#search-icon {
  position: absolute;
  left: 20px;
  top: 15px;
}

#poda{
  transform: scale(0.8);
}
